@font-face {
  font-family: 'A-TTF Shin Go Pro M';
  src: url('./fonts/ShinGoPro-Medium.eot');
  src: url('./fonts/ShinGoPro-Medium.eot?#iefix') format('embedded-opentype'),
      url('./fonts/ShinGoPro-Medium.woff2') format('woff2'),
      url('./fonts/ShinGoPro-Medium.woff') format('woff'),
      url('./fonts/ShinGoPro-Medium.ttf') format('truetype'),
      url('./fonts/ShinGoPro-Medium.svg#ShinGoPro-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.App {
  text-align: center;
  background-color: #323029;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  padding-right: 5%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #454339;
  min-height: 5%;
  max-height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'A-TTF Shin Go Pro M';
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

body {
  background-color:#262020;
  align-items: center;
}

.main-content
{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  height: 100%;
}

.left-side
{
  flex: 1;
  padding: 10px;
}

.password-container
{
  background-color: wheat;
}
.password-container
{
  padding: 0.5%;
  font-family: 'A-TTF Shin Go Pro M';
  font-size: 16px;
  border: 2px solid #787878;
  border-radius: 20px;
  white-space: break-spaces;
}

.right-side
{
  flex: 1;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.textbox-container
{
  margin: 0px;
}

.textarea
{
  width: 100%;
  height: 150px;
  padding: 10px;
  font-family: 'A-TTF Shin Go Pro M';
  font-size: 16px;
  border: 2px solid #787878;
  border-radius: 20px;
  word-break: normal;
}