@font-face {
  font-family: 'A-TTF Shin Go Pro M';
  src: url('./fonts/ShinGoPro-Medium.eot');
  src: url('./fonts/ShinGoPro-Medium.eot?#iefix') format('embedded-opentype'),
      url('./fonts/ShinGoPro-Medium.woff2') format('woff2'),
      url('./fonts/ShinGoPro-Medium.woff') format('woff'),
      url('./fonts/ShinGoPro-Medium.ttf') format('truetype'),
      url('./fonts/ShinGoPro-Medium.svg#ShinGoPro-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  background-color:#262020;
  align-items: center;
}

.App {
  text-align: center;
  background-color: #323029;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  padding-right: 5%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
  }
}

.App-header {
  background-color: #454339;
  /*min-height: 5%;*/
  position: fixed;
  /*max-height: 10%;*/
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'A-TTF Shin Go Pro M';
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.submit
{
  padding: 10px 10px;
  border-radius: 10px;
  align-content: center;
  justify-content: center;
  height: auto;
  display: flex;
  font-size: 16px;
  font-family: 'A-TTF Shin Go Pro M';
}

.main-content
{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-top: 200px;
  height: 100%;
}

.low-content
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 50px;
  height: 100%;
  min-width: 100%;
  background-color: #262020;
}

.left-screen
{
  flex: 1;
  min-width: 50%;
  padding: 10px;
}

.leftpar
{
  padding: 0.5%;
  font-family: 'A-TTF Shin Go Pro M';
  font-size: 25px;
  text-align: center;
  color: white;
}

.password-container
{
  width: 70%;
  background-color: wheat;
  display: flex; /* Add this to use Flexbox */
  flex-direction: row; /* To align items vertically */
  align-items: center;
  justify-content: center;
  font-family: 'A-TTF Shin Go Pro M';
  font-size: 16px;
  border: 2px solid #787878;
  border-radius: 20px;
  white-space: break-spaces;
  padding: 10px; /* Add padding for spacing */
}

.right-screen
{
  flex: 1;
  padding: 10px;
  min-width: 50%;
}

.textbox-container
{
  margin: 20px;
}

.textarea
{
  width: 90%;
  height: 150px;
  padding: 10px;
  font-family: 'A-TTF Shin Go Pro M';
  font-size: 16px;
  border: 2px solid #787878;
  border-radius: 20px;
  word-break: normal;
}

.drop-box
{
  width: 90%;
  height: 75%;
  border: 2px solid #ccc;
  color: white;
  font-family: 'A-TTF Shin Go Pro M';
  font-size: 16px;
  text-align: center;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.myfile
{
  padding: 10px 10px;
  border-radius: 5px;
  font-family: 'A-TTF Shin Go Pro M';
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white;
  align-content: center;
}

.typelol
{
  font-family: 'A-TTF Shin Go Pro M';
  font-size: 16px;
  color: white;
}

#load-container {
  display: none;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: 0vh; /* 100% of the viewport height */

}

#output
{
  padding: 5%;
  font-family: 'A-TTF Shin Go Pro M';
  font-size: 30px;
  align-items: left;
  text-align: left;
  color: white;
  white-space: pre;
}